body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: black;
}

h2{
    color: black;
}

p {
    color: black;
    text-align: justify;
    text-indent: 25px;
}

li{
    text-align: left;
}

#mainFoto{
    width: 90%;
    max-width: 700px;
    height: auto;
    object-fit: contain;
}